  <br>
<div class="mt-3">
  <div class="refresh-button mb-4">
    <h5>Scanner not loading?</h5>
    <h5><%= link_to ('Refresh &nbsp;' '<i class="fas fa-sync-alt" alt="Barcode scanner not loading? Try refreshing."></i>').html_safe, new_item_amount_path, class: "text-primary" %></h4>
  </div>
  <%= form_tag '/add_barcode_item', method: :get, id: 'barcode-form' do %>
    <%= hidden_field_tag :upc, params[:upc] %>
  <% end %>
  <div id="scandit-barcode-picker" style="max-width: 1280px; max-height: 80%;"></div>
</div>
<div class="error-message mt-4">
  <h5>Product not found?<br>
    <%= link_to 'Create one for later!', "https://world.openfoodfacts.org/", class: "text-primary" %></h5>
</div>