<div class="card-pantry-item">
  <div class="card-pantry-item-name">
    <h6>Milk</h6>
    <p>Expries in 5 day(s)</p>
  </div>
  <div class="card-pantry-item-amount">
    <h5>1</h5>
    <p>left</p>
  </div>
</div>