    <% @item_amounts.each do |item_amount| %>
  <div class="card-pantry-item">
    <div class="card-pantry-item-name">
      <h6><%= item_amount.item.item_name %></h6>
      <% if item_amount.expiry_date.present? %>
        <p>Expires: <%= item_amount.expiry_date %></p>
      <% end %>
    </div>
    <div class="card-pantry-item-amount">
      <h5><%= item_amount.description.to_s %></h5>
      <p>left</p>
    </div>
  </div>
<% end %>