<div class="card-pantry-item">
  <div class="card-pantry-item-name">
    <% @categories.item.each do |item| %>
      <h6><%= @item.item_name %></h6>
    <% end %>
    <p>Expires in <%= @item_amounts.expiry_date %> day(s)</p>
  </div>
  <div class="card-pantry-item-amount">
    <h5><%= @item_amounts.description.to_s %></h5>
    <p>left</p>
  </div>
</div>