<div class="container">
  <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h6>
          <button class="pantry-category-header" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <i class="far fa-lemon"></i> Fruit
          </button>
        </h6>
      </div>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <%= render 'pantry-item-card' %>
        </div>
      </div>
    </div>
  </div>
</div>