// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD89;
$gray: #0E0000;
$light-gray: #F4F4F4;
$leaf: #9BB547;
$light-leaf: #a7b579;
$light-blue: #84ADB3;
$light-green: #E6F1E9;
$gray-green: #f9fffb;
$light-yello: #F3E9B4;
$dark-gray: #353639;
$light-salmon: #FFEEDD;
$dark-salmon: #FFD8BE;
