<div class="container">
  <h5 class="page-title-recipe">Add ingredients</h5>
  <div class="form-container">
    <div class="grid">
      <%= simple_form_for [ @recipe, @recipe_amount ] do |f| %>
        <%= f.association :item, label_method: :item_name, input_html: { class: "select2" }, include_hidden: false %>
        <%= f.input :description %>
        <%= f.submit "Add", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>