<div class="container">
  <div class="search-results">
    <div class="input-group">
      <input type="search" placeholder="Recommended recipes" aria-describedby="button-addon3" class="form-control bg-none border-0">
      <button class="btn btn-link text-success"><i class="fa fa-search"></i></button>
    </div>
    <div class="search-body">
      <%= render '/shared/recipe-search-item-card' %>
    </div>
  </div>
</div>