<div class="container">
  <div class="search-results">
    <%= form_tag recipes_path, method: :get do %>
      <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Top results for #{params[:tag]}"
  %>
      <div class="search-button">
        <%= link_to ('<i class="fa fa-search"></i>').html_safe, search_recipe_path, class: "text-primary" %>
      <% end %>
    </div>
    <div class="search-body">
      <%= render '/shared/recipe-search-item-card' %>
    </div>
  </div>
  <div>
    <div class="action-button-outline">
      <h5>Show more results &nbsp; <i class="fas fa-arrow-down"></i></h5>
    </div>
  </div>
</div>