<div class="container">
  <div class="grid">
    <div class="recipe-card-item">
      <div class="recipe-card-photo">
        <%= image_tag "choco-fudge.jpg", class: "recipe-card-photo" %>
      </div>
      <div class="recipe-card-body">
        <div class="recipe-card-title">
          <h6><%= @recipe.recipe_name.capitalize %></h6>
          <% @recipe.tag_list.each do |tag| %>
            <span class="recipe-card-tags badge badge-pill badge-success"><%= tag %></span>
          <% end %>
        </div>
        <div class="recipe-card-content">
          <p class="recipe-card-edit"><i class="far fa-edit"></i></p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae odio, voluptates omnis natus dolor commodi sunt blanditiis illo quae hic eligendi aut ducimus cupiditate ipsa vero architecto dignissimos qui perspiciatis!</p>
          <div class="recipe-ingredient-amount">
            <p>item name</p>
            <p>amount</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>