<div class="container" id="menu-bar">
  <div class="menuicons fixed-bottom">
    <div class="pantryicon">
      <h4><%= link_to ('<i class="material-icons input">input</i>').html_safe, new_item_amount_path, class: "pantryicon" %></h4>
      <p id="additem-text">Add item</p>
    </div>
    <div class="pantryicon">
      <h4><%= link_to ('<i class="material-icons kitchen">kitchen</i>').html_safe, item_amounts_path, class: "pantryicon" %></h4>
      <p id="pantry-text">Pantry</p>
    </div>
    <div class="recipeicon">
      <h4><%= link_to ('<i class="material-icons restaurant">restaurant</i>').html_safe, recipes_path, class: "recipeicon" %></h4>
      <p id="recipes-text">Recipes</p>
    </div>
    <div class="recipeicon">
      <h4><%= link_to ('<i class="material-icons-outlined note_alt">note_alt</i>').html_safe, new_recipe_path, class: "recipeicon" %></h4>
      <p id="addrecipe-text">Add recipe</p>
    </div>
  </div>
</div>