<div class="container">
  <div class="menu-tabs fixed-bottom">
    <div class="pantry-tab">
      <h4><%= link_to ('<i class="far fa-plus-square"></i>').html_safe, new_item_amount_path, class: "pantry-tab" %></h4>
      <p>New item</p>
    </div>
    <div class="pantry-tab">
      <h4><%= link_to ('<i class="fas fa-shopping-basket"></i>').html_safe, item_amounts_path, class: "pantry-tab" %></h4>
      <p>Pantry</p>
    </div>
    <div class="recipe-tab">
      <h4><%= link_to ('<i class="fas fa-utensils"></i>').html_safe, recipes_path, class: "recipe-tab" %></h4>
      <p>&nbsp;Recipes</p>
    </div>
    <div class="recipe-tab">
      <h4><%= link_to ('<i class="fas fa-folder-plus"></i>').html_safe, new_recipe_path, class: "recipe-tab" %></h4>
      <p>Add recipe</p>
    </div>
  </div>
</div>