<div class="recipe-card-grid">
  <% @recipes.each do |recipe| %>
    <div class="recipe-card">
      <div class="recipe-card-photo">
      </div>
      <div class="recipe-card-body">
        <div class="recipe-card-title">
          <h6><%= recipe.recipe_name %></h6>
        </div>
        <div class="recipe-card-edit">
          <p><i class="far fa-edit"></i></p>
        </div>
      </div>
    </div>
  <% end %>
</div>