<div class="recipe-cards-grid">
  <% @recipes.each do |recipe| %>
    <div class="recipe-cards">
      <div class="recipe-cards-photo">
        <%= image_tag "sushi.jpg", class: "recipe-cards-photo" %>
      </div>
      <div class="recipe-cards-body">
        <h6 class="recipe-cards-title"><%= link_to recipe.recipe_name.capitalize, recipe_path(recipe) %></h6>
      </div>
    </div>
  <% end %>
</div>