<h6 class="text-primary mt-1"><i class="fas fa-search"></i>&nbsp;Search tags for more recipes</h6>
<% @recipe.tag_list.each do |tag| %>
  <%= link_to recipes_path(tag: tag), class: "btn badge badge-pill badge-primary" do %>
    <%= tag %>
  <% end %>
<% end %>