<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="button-solid">
        <p>solid</p>
      </div>
      <div class="button-outline">
        <p>outline</p>
      </div>
      <div class="badge-delete">
        <p><i class="fas fa-times-circle"></i></p>
        <div class="button-plus-minus">
          <p><i class="fas fa-plus"></i></p>
        </div>
        <div class="button-plus-minus">
          <p><i class="fas fa-minus"></i></p>
        </div>
      </div>
    </div>
  </div>
</div>