<div class="container">
  <div class="grid">
    <div class="card-pantry-category">
      <div class="pantry-category-title">
        <h5>DAIRY</h5>
      </div>
      <div class="card-pantry-item">
        <h6>Milk</h6>
        <p>Expiring in 3 days</p>
        <div class="card-pantry-item-amount">
        </div>
      </div>
    </div>
  </div>
</div>