<header>
  <h1>Worldwide, 33% of all food goes to waste.</h1>
  <br>
  <h1>In Japan, 50% of all food waste comes from households.</h1>
  <br>
  <h3>Get notified when Pantry is here to help you reduce food waste!</h3> 
  <%#h1><strong><%#= link_to "Join Pantry to reduce your food waste.", new_user_session_path %></strong></h1>
  <form action="https://send.pageclip.co/Iy0vVPmTPwzAMUKcrHfroWfa9ggtjAzY/waiting_list" class="pageclip-form" method="post">
    <div class="form-inputs">
  <!-- Replace these inputs with your own. Make sure they have a "name" attribute! -->
      <input type="text" name="name" value="Rosie Jones"/>
      <input type="email" name="email" value="rosiej@example.com"/>
    </div>

    <!-- This button will have a loading spinner. Keep the inner span for best results. -->
    <div class="form-actions">
      <button type="submit" class="pageclip-form__submit">
        <span>Send</span>
      </button>
    </div>
  </form>
  <br>
  <img src="pantry-logo-pic.png" width="30%">
</header>
<main>
  <ul class="cards-container">
    <li class="salmon-feature-card">
      <h1><i class="material-icons input">input</i></h1><br>
      <p>Add items to your Pantry by scanning the barcodes.</p>
    </li>
    <li class="mint-feature-card">
      <h1><i class="material-icons kitchen">kitchen</i></h1><br>
      <p>View all items in your Pantry at a glance.</p>
    </li>
    <li class="leaf-feature-card">
      <h1><i class="material-icons">timer</i></h1><br>
      <p>Be notified 3 days before an item expires.</p>
    </li>
    <li class="dusk-feature-card">
      <h1><i class="material-icons restaurant">restaurant</i></h1><br>
      <p>Find recipes for an expiring item.</p>
    </li>
    <li class="mint-feature-card">
      <h1><i class="material-icons-outlined note_alt">note_alt</i></h1><br>
      <p>Save your favorite recipes.</p>
    </li>
    <li class="leaf-feature-card">
      <h1><i class="fab fa-line"></i></h1><br>
      <p>Send your shopping list to LINE.</p>
    </li>
  </ul>
</main>
<footer>
  <p class="attribution">
    Created by
    <a href="https://github.com/attinore" target="_blank">Hongjoo</a>,
    <a href="https://github.com/worksofgenius" target="_blank">Marisa</a>, and
    <a href="https://github.com/zuccamia" target="_blank">Norah</a>.
  </p>
</footer>
