  <style>
  *{
    transition: all 0.6s;
}

html {
    height: 100%;
}

body{
    font-family: "Libre Baskerville", "Helvetica", "sans-serif";
    color: #353639;
    margin: 16px;
}

h1 {
    color: #879e3c;
    font-weight: bold;
}

#main{
    display: table;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.fof{
	  display: table-cell;
	  vertical-align: middle;
}

.fof h1{
	  font-size: 50px;
	  display: inline-block;
	  padding-right: 12px;
	  animation: type .5s alternate infinite;
}

@keyframes type{
	  from{box-shadow: inset -3px 0px 0px #888;}
	  to{box-shadow: inset -3px 0px 0px transparent;}
}
  </style>
<div class="container">
    <div class="card-pantry-search">
      <h2>Worldwide 33% of all food goes to waste.</h2>
      <br>
      <h2>In Japan, 50% of all food waste comes from households.</h2>
      <br>
      <h2><a href="#">Use Pantry to reduce your food waste.</a></h2>
      <br>
    </div>
    <div class="card-pantry-search">
    <p>Add items to your Pantry by scanning the barcode.</p>
    <p>View all items in your Pantry at a glance.</p>
    <p>Be notified 3 days before an item expires.</p>
    <p>Find recipes for the expiring item.</p>
    <p>Save your favorite recipes for the future.</p>
    </div>
</div>
