<div class="container">
  <div class="background">
    <div class="intro-card">
      <h2>Worldwide 33% of all food goes to waste.</h2>
      <br>
      <h2>In Japan, 50% of all food waste comes from households.</h2>
      <br>
      <h2><a href="#">Use Pantry to reduce your food waste.</a></h2>
      <br>
    </div>
    <div class="function-card">
      <p>Add items to your Pantry by scanning the barcode.</p>
      <p>View all items in your Pantry at a glance.</p>
      <p>Be notified 3 days before an item expires.</p>
      <p>Find recipes for the expiring item.</p>
      <p>Save your favorite recipes for the future.</p>
    </div>
    <div class="about-card">
    </div>
  </div>
</div>
