<div class="container">
    <div class="card-pantry-search">
      <h3>Worldwide 1/3 of all food goes to waste.</h3>
      <br>
      <h3>In Japan, 1/2 of all food waste comes from households.</h3>
      <br>
      <h2>Use Pantry to reduce your food waste.</h2>
      <br>
      <%= button_to 'Join' %>
      <br>
    </div>
    <div class="card-pantry-search">
    <p>Add items to your Pantry by scanning the barcode or receipt.</p>
    <p>View all items in your Pantry at a glance.</p>
    <p>Be notified 3 days before an item expires.</p>
    <p>Search for recipes for the expiring item.</p>
    <p>Save your favorite recipes for the future.</p>
    </div>
</div>
