<header>
  <section class="intro-tagline">
    <div>
      <h1>Worldwide,</h1>
      <h1><span id="mint-bold">33%</span> of all food </h1>
      <h1>goes to waste.</h1>
    </div>
    <br>
    <div>
      <h1>In Japan,</h1>
      <h1><span id="mint-bold">50%</span> of all food waste</h1>
      <h1>comes from households.</h1>
    </div>
  </section>
  <section class="logo-brand">
    <img src="pantry-logo-l.png" width="30%">
    <h1>pantry</h1>
    <div class="logo-tagline">
      <h2>a new way to</h2>
      <h2>reduce food waste.</h2>
    </div>
    <div class="invitation">
      <h3>We are currently in beta.</h3>
      <h3><span id="mint-bold">Sign up</span> to receive an invitation.</h3>
    </div>
    <form id="invitation" action="https://send.pageclip.co/Iy0vVPmTPwzAMUKcrHfroWfa9ggtjAzY/waiting_list" class="pageclip-form" method="post">
      <div class="form-inputs">
        <!-- Email sign up form. "Name" attribute! -->
        <input type="email" name="email" value="rosiej@example.com" class="rounded"/>
        <!-- This button will have a loading spinner. Keep the inner span for best results. -->
        <div class="form-actions">
          <button type="submit" class="pageclip-form__submit">
            <span>Sign up</span>
          </button>
        </div>
      </div>
    </form>
  </section>
</header>
<main>
  <ul class="cards-container">
    <li class="mint-feature-card">
      <h1><i class="material-icons input">input</i></h1>
      <br>
      <p class="home-card">Add items to your Pantry by scanning the barcodes.</p>
    </li>
    <li class="leaf-feature-card">
      <h1><i class="material-icons kitchen">kitchen</i></h1>
      <br>
      <p class="home-card">View all items in your Pantry at a glance.</p>
    </li>
    <li class="dusk-feature-card">
      <h1><i class="material-icons">timer</i></h1>
      <br>
      <p class="home-card">Be notified 3 days before an item expires.</p>
    </li>
    <li class="salmon-feature-card">
      <h1><i class="material-icons restaurant">restaurant</i></h1>
      <br>
      <p class="home-card">Find recipes for an expiring item.</p>
    </li>
    <li class="mint-feature-card">
      <h1><i class="material-icons-outlined note_alt">note_alt</i></h1>
      <br>
      <p class="home-card">Save your favorite recipes.</p>
    </li>
    <li class="leaf-feature-card">
      <h1><i class="fab fa-line"></i></h1>
      <br>
      <p class="home-card">Send your shopping list to LINE.</p>
    </li>
  </ul>
</main>
<footer>
  <p class="attribution">
    Created by
    <a href="https://github.com/attinore" target="_blank">Hongjoo</a>,
    <a href="https://github.com/worksofgenius" target="_blank">Marisa</a>, and
    <a href="https://github.com/zuccamia" target="_blank">Norah</a>.
  </p>
</footer>