// body-content
.container {
  margin-top: 82px;
  margin-bottom: 68px;
}

// Glassmorphism effect

.glass {
  color: #ecf0f1;
  background: rgba( 255, 255, 255, 0.2 );
  border: solid 1px rgba(255,255,255,0.3);
  background-clip: padding-box;
  backdrop-filter: blur(10px);
}

//page-title
.page-title {
  text-align: center;
  color: $bright-leaf;
  padding: 8px;
  font-weight: bolder;
}
