// body-content
.container {
  margin-top: 82px;
  margin-bottom: 68px;
}

//page-title
.page-title-item {
  text-align: center;
  color: $bright-leaf;
  padding: 8px;
}

.page-title-recipe {
  text-align: center;
  color: $bright-mint;
  padding: 8px;
}
