// button with solid color
.button-outline {
  color: $bright-mint;
  font-family: $headers-font;
  text-align: center;
  border: 1px solid $mint;
  padding: 8px 8px;
  border-radius: 30px;
  font-weight: bold;
  opacity: 0.6;
  transition: opacity 0.3s ease;

  p {
    font-size: 16px;
    margin: 0;
  }
}

.button-outline:hover {
  opacity: 1;
}


// button with outline, white background
.button-solid {
  color: white;
  font-family: $headers-font;
  text-align: center;
  padding: 8px 8px;
  border-radius: 30px;
  background: $mint;
  transition: background 0.3s ease;
  margin: 32px;
    p {
    font-size: 16px;
    margin: 0;
    }
}

.button-solid:hover {
  background: $mint;
  color: white;
}

// button light-yellow
.button-solid-yellow {
  color: $dark-gray;
  font-family: $headers-font;
  text-align: center;
  padding: 8px 8px;
  border-radius: 30px;
  background: $light-yello;
  transition: background 0.3s ease;
  margin: 16px;
    p {
    font-size: 16px;
    margin: 0;
  }
}

.button-solid:hover {
  background: $light-yello;
  color: white;
}


// action button
.action-button-outline {
  color: $bright-mint;
  font-family: $headers-font;
  text-align: center;
  padding: 18px 8px;
  border-radius: 50px;
  border: 1px solid $bright-mint;
  transition: background 0.3s ease;
  margin: 40px;
    h5 {
    margin: 0;
    }
}

.action-button-outline:hover {
  background: $bright-mint;
  opacity: 1;
}

// delete badge, "x",
.badge-delete {
  p{
  font-size: 20px;
  color: $dark-gray;
  }
}

.badge-delete:hover {
  opacity: 1;
}

// button-plus-minus
.button-plus-minus {
  color: white;
  font-family: $headers-font;
  text-align: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 4px;
  background: $mint;
  transition: background 0.3s ease;
    p {
    font-size: 13px;
    color: white;
    margin: 0;
    font-weight: ligher;
  }
}

// tags
// 1.use bootstrap: badge badge-pill badge-{input color below}
// $primary:   - $light-mint;
// $success:   - $leaf;
// $info:      - $alert-yello;

// 2.then overwrite the font-family to: $headers-font




