// button with solid color
.button-outline {
  color: $bright-mint;
  font-family: $headers-font;
  text-align: center;
  border: 1px solid $bright-mint;
  padding: 8px 16px;
  border-radius: 30px;
  font-weight: bold;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  margin: 0 24px;
  p {
    font-size: 16px;
    margin: 0;
  }
}

.button-outline:hover {
  opacity: 1;
}

// button with outline, white background
.button-solid {
  color: white;
  font-family: $headers-font;
  text-align: center;
  padding: 8px 16px;
  border-radius: 30px;
  background: $bright-mint;
  transition: background 0.3s ease;
  margin: 0 24px;
  p {
    font-size: 16px;
    margin: 0;
  }
}

.button-solid:hover {
  background: $mint;
  color: white;
}

.add-recipe-btn {
  color: white;
  font-family: $headers-font;
  text-align: center;
  border-radius: 30px;
  background: $bright-mint;
  transition: background 0.3s ease;
  margin: 0 24px;
  p {
    font-size: 16px;
    margin: 0;
  }
}

// button light-yellow
.button-solid-leaf {
  color: $white;
  font-family: $headers-font;
  text-align: center;
  border-radius: 30px;
  background: $bright-leaf;
  transition: background 0.3s ease;
  margin: 0 24px;
  p {
    font-size: 16px;
    margin: 0;
  }
}

.button-solid-leaf:hover {
  background: $leaf;
  color: white !important;
  a {
    color: white !important;
  }
  .btn:hover {
    color: white !important;
  }
}

// action button - outline
.action-button-outline {
  color: $bright-mint;
  font-family: $headers-font;
  text-align: center;
  padding: 16px;
  border-radius: 50px;
  border: 1px solid $bright-mint;
  transition: background 0.3s ease;
  min-width: 40%;
  max-width: 60%;
  justify-self: center;
  margin: 10px 0;

  h5 {
    margin: 0;
  }
  a {
    text-decoration: none;
  }
}

.action-button-outline:hover {
  background: $mint;
  color: white;
  opacity: 1;
  a {
    color: white;
  }
}

// action button outline leaf
.action-button-outline-leaf {
  color: $bright-leaf;
  font-family: $headers-font;
  text-align: center;
  padding: 16px;
  border-radius: 50px;
  border: 1px solid $bright-leaf;
  transition: background 0.3s ease;
  min-width: 40%;
  max-width: 80%;
  justify-self: center;
  margin: 10px 0;
  h5 {
    margin: 0;
  }
  a {
    color: $bright-leaf;
    text-decoration: none;
  }
}

.action-button-outline-leaf:hover {
  background: $leaf;
  color: white;
  opacity: 1;
  a {
    color: white;
  }
}

.save-to-pantry {
  color: $white;
  font-family: $headers-font;
  text-align: center;
  padding: 8px 16px;
  border-radius: 30px;
  background: $bright-leaf;
  transition: background 0.3s ease;
  margin: 0 24px;
  p {
    font-size: 16px;
    margin: 0;
  }
}

// action button solid mint
.action-button-solid {
  color: white;
  font-family: $headers-font;
  text-align: center;
  padding: 16px 24px;
  border-radius: 50px;
  background-color: $bright-mint;
  transition: background 0.3s ease;
  min-width: 40%;
  max-width: 80%;
  justify-self: center;
  h5 {
    margin: 0;
  }
  a {
    color: white;
    margin: 0;
    text-decoration: none;
  }
}

.action-button-solid:hover {
  background: $mint;
  color: white;
  opacity: 1;
  a {
    color: white;
    text-decoration: none;
  }
}

// action button solid leaf
.action-button-solid-leaf {
  color: $white;
  font-family: $headers-font;
  text-align: center;
  padding: 16px 24px;
  border-radius: 50px;
  background-color: $bright-leaf;
  transition: background 0.3s ease;
  min-width: 40%;
  max-width: 60%;
  justify-self: center;
  margin: 10px 0;
  h5 {
    margin: 0;
  }
  a {
    color: $bright-leaf;
    text-decoration: none;
  }
}

.action-button-solid-leaf:hover {
  border: 1px solid $leaf;
  color: white;
  opacity: 1;
  a {
    color: white;
  }
}

// delete badge, "x",
.badge-delete {
  p {
    font-size: 20px;
    color: $dark-gray;
  }
}

.badge-delete:hover {
  opacity: 1;
}

// button-plus-minus
.button-plus-minus {
  color: white;
  font-family: $headers-font;
  text-align: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 4px;
  background: $mint;
  transition: background 0.3s ease;
  p {
    font-size: 13px;
    color: white;
    margin: 0;
    font-weight: ligher;
  }
}

// tags
// 1.use bootstrap: badge badge-pill badge-{input color below}
// $primary:   - $light-mint;
// $success:   - $leaf;
// $info:      - $alert-yello;

// 2.then overwrite the font-family to: $headers-font

.badge {
  font-family: $headers-font;
  padding: 6px 10px;
  font-weight: 500;
  margin-bottom: 4px;
}

.refresh-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $bright-leaf;
}

.material-icons.md-13 {
  font-size: 12px;
  font-style: bolder;
  h5 {
    margin-bottom: 0;
  }
}
