//recipe-index-cards

.recipe-cards-grid {
  display: grid;
  grid-template-columns: 1fr;
  flex-grow: 1;
  grid-gap: 8px;
  margin: 16px;
  margin-top: 0;
}

.recipe-cards {
  position: relative;
  margin: 0;
  display: flex;
  border-radius: 24px;
  font-family: $headers-font;
  margin-bottom: 16px;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  .tags {
    position: absolute;
    top: 20px;
    left: 20px;
    margin-bottom: 0;
    color: $dark-gray;
  }
}

.recipe-cards-photo {
  z-index:-1;
  height: 200px;
  width: 100%;
  border-radius: 24px;
  object-fit: cover;
  object-position: center;
}

.recipe-cards-title {
  position: absolute;
  bottom: 20px;
  right: 20px;
  margin-bottom: 0;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  color: white;
}

.recipe-card-link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

