.recipe-card-item {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  // border: 1px solid rgba(0, 0, 0, 0.125);
  font-family: $headers-font;
}

.recipe-card-photo{
  height: 200px;
  width: 100%;
  border-radius: 24px;
  object-fit: cover;
  object-position: center;
  border: 1px solid rgba(0, 0, 0, 0.125);
}


.recipe-card-title{
  color: $bright-mint;
  margin: 16px 0 8px 0;

  h6 {
    margin-bottom: 0;

  }
  a {
    color: $white;
    text-decoration: none;
    background-color: transparent;
  }
}


.sub-heading {
  margin: 24px 0 8px 0;
  color: $bright-mint;
}

.recipe-card-tags {
  padding: 8px;
  margin-top: 10px;
  font-weight: 400;
  color: white;

}

// content
.recipe-card-content {
  padding: 100px 8px 8px 8px;
}

// ingredient & amount list
.recipe-ingredient-amount {
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  padding: 12px;
  justify-content: space-between;
}

.recipe-card-edit {
  text-align: right;
}

table {
  width: 100%;
  background-color: $light-mint;
  tr {
    border: 1px solid rgba(0, 0, 0, 0.125);
    p {
      margin-bottom: 0;
    }
    td {
      padding: 16px;
    }
  }
}


.content-box {
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 0 16px;
  margin-bottom: 32px;
  background-color: $light-mint;
}
