// pantry item card - accordion bootstrap overwrite

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 20px;
}

// custom css: card-pantry-item
.card-pantry-item {
  border-radius: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: 2.8fr 1.2fr;
  margin-bottom: 8px;
}

// custom css: pantry-item-name
.card-pantry-item-name {
  background-color: $white-leaf;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-right: none;
  border-radius: 20px 0 0 20px;
  h4 {
    font-weight: 400;
    color: $dark-gray;
  }
  p {
    margin: 0px;
    font-family: $body-font;
  }
}

// custom css: pantry-item-days
.card-pantry-item-amount {
  background-color: $light-leaf;
  color: $dark-gray;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0 20px 20px 0;
  width: 100%;
  h5 {
    margin: 0px;
  }
}

// custom css: card-pantry-search
.card-pantry-search {
  border-radius: 10px;
  width: 100%;
  display: grid;
}

// custom css: pantry-item-search
.card-pantry-search-name {
  background-color: $white-mint;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 8px 16px 24px;
  margin-bottom: 16px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 20px;
  width: 100%;
  p {
    margin: 0px;
    font-family: $body-font;
  }
}

.tag-search {
  display: flex;
  justify-content: space-between;
   p {
    color: $dark-gray;
   }
}

.card-pantry-item-expired {
  background-color: $dark-salmon;
}
