// pantry category card - accordion bootstrap overwrite

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  border: none;
  background-clip: border-box;
  border-radius: 20px;
  margin: 0 0 0.5rem 0;
}
.card-header {
  padding: 0.8rem 1.6rem 0 1.6rem;
  margin-bottom: 0;
  background-color: $white-mint;
  border-bottom: none;
  h5 {
    font-family: $body-font;
  }
}

.card-header:first-child {
  border-radius: 20px;
}

// custom css
// button: category heading
#accordion {
    button {
    margin: 10px 0 10px 0;
    color: $dark-gray;
    border-image: none;
    border-style: none;
    background-color: transparent;
  }
}


.material-icons.md-18 {
  font-size: 22px;
  font-style: bolder;
  color: $dark-salmon;
  line-height: 1;
  right: 22px;
  position: absolute;
  h5 {
    margin-bottom: 0;
    a:hover {
      text-decoration: none;
    }
  }
}
