// pantry item card - accordion bootstrap overwrite

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 20px;
  padding-top: 0;
}

// custom css: card-pantry-item
.card-pantry-item {
  border-radius: 10px;
  width: 100%;
  margin-bottom: 16px;
  border: 1px solid #6b6b6b;
  background-color: white;
  a:hover {
    text-decoration: none;
  }
  a {
    color: $bright-leaf;
  }
}

// custom css: pantry-item-name
.card-pantry-item-name {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  padding-bottom: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  h5 {
    font-weight: 400;
    color: $dark-gray;
    margin-bottom: 0;
  }
}

// custom css: pantry-item-days
.card-pantry-item-amount {
  color: $dark-gray;
  text-align: left;
  padding: 16px;
  padding-bottom: 0;
  width: 100%;
  p {
    font-family: $body-font;
    font-size: 14px;
    position: relative;
    padding-left: 20px;
    color: #6b6b6b;
  }

  a {
    color: $bright-leaf;
  }
    .material-icons.md-16 {
    position: absolute;
    top: 1px;
    left: 0px;
    font-size: 16px;
    font-style: bolder;
    h5 {
      margin-bottom: 0;
    }
  }
}

// custom css: card-pantry-search
.card-pantry-search {
  border-radius: 10px;
  width: 100%;
  display: grid;
}

// custom css: pantry-item-search
.card-pantry-search-name {
  background-color: $white-mint;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 8px 16px 24px;
  margin-bottom: 16px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 20px;
  width: 100%;
  p {
    margin: 0px;
    font-family: $body-font;
  }
}

.tag-search {
  display: flex;
  justify-content: space-between;
   p {
    color: $dark-gray;
   }
}

.card-pantry-item-expired {
  background-color: $white-salmon;
  p {
  color: $dark-gray;
  }
  a {
  color: $dark-gray;
  }
}
