.error-message {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  grid-template-columns: 1fr;
  margin-top: 50px;
    h5 {
    font-family: $body-font;
    line-height: 1.8;
    }
}

.error-image {
  font-size: 70px;
  color: $bright-mint;
  // background-color: $bright-mint;
  // padding: 24px;
  // height: 100px;
  // width: 100px;
  // border-radius: 50%;
  text-align: center;
  margin: 20px;
}
