.form {
  margin: 8px;
}

.recipe-form {
  margin-bottom: 24px;
  padding: 16px;
  background-color: $light-mint;
  border-radius: 16px;
}

.recipe-form {
  #recipe_instructions {
    height: 100px;
  }
}

.recipe-form {
  .form-control.is-valid {
    border-color: #dbdbdb;
  }
  li {
    list-style-type: none;
    margin-left: -3.2em;
  }
}

//select2 styling
[class^='select2'] {
  border-radius: 20px !important;
}

.select2-container *:focus {
  outline: none;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: transparent !important;
  color: white;
}

//date
#item_amount_expiry_date_1i {
  margin-left: 0 !important;
}

#item_amount_expiry_date_3i {
  margin-right: 0 !important;
}

// // pantry new item form
// label {
//   font-family: $headers-font;
//   font-size: 12px;
//   margin: 0 16px;
// }

// // new_item amounts
// select#item_amount_item_id.form-control {
//   border: 1px solid rgba(0, 0, 0, 0.125);
//   border-radius: 16px;
//   height: 50px;
//   margin-top: 10px;
//   margin-bottom: 30px;
// }

// input#item_amount_description.form-control {
//   border: 1px solid rgba(0, 0, 0, 0.125);
//   border-radius: 16px;
//   height: 50px;
//   margin-top: 10px;
//   margin-bottom: 30px;
// }

// input.btn.btn-success {
//   font-family: $headers-font;
//   color: white;
//   margin: 0 16px;
//   border-radius: 12px;
// }


// // new_item amounts
// input#recipe_recipe_name.form-control {
//   border: 1px solid rgba(0, 0, 0, 0.125);
//   border-radius: 16px;
//   height: 50px;
//   margin-top: 10px;
//   margin-bottom: 30px;
// }

// textarea#recipe_instructions.form-control {
//   border: 1px solid rgba(0, 0, 0, 0.125);
//   border-radius: 16px;
//   height: 250px;
//   margin-top: 10px;
//   margin-bottom: 30px;
// }

// input.btn.btn-primary {
//   font-family: $headers-font;
//   color: white;
//   margin: 0 16px;
//   border-radius: 12px;
// }

// input#recipe_photo.form-control-file {
//   margin: 0 16px;
//   padding: 10px 0;
// }

// input#file-upload-button {
//   padding: 12px;
// }


// // recipe-amounts
// input#recipe_amount_description.form-control {
//   border: 1px solid rgba(0, 0, 0, 0.125);
//   border-radius: 16px;
//   height: 50px;
//   margin-top: 10px;
//   margin-bottom: 30px;
// }

// span.select2-selection.select2-selection--single {
//   margin: 16px;
//   border: 1px solid rgba(0, 0, 0, 0.125);
//   border-radius: 16px;
// }

// .select2-container--default .select2-selection--single .select2-selection__arrow b {
//     border-color: #888 transparent transparent transparent;
//     border-style: solid;
//     border-width: 5px 4px 0 4px;
//     height: 0;
//     left: 50%;
//     margin-left: -44px;
//     margin-top: 13px;
//     position: absolute;
//     top: 50%;
//     width: 0;
// }

