.form-container {
  padding: 14px;
}

// pantry new item form
label {
  font-family: $headers-font;
  font-size: 12px;
  margin: 0 16px;
}

select#item_amount_item_id.form-control {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 16px;
  padding: 24px 24px;
  margin-top: 10px;
  margin-bottom: 30px;
}

input#item_amount_description.form-control {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 16px;
  padding: 24px 24px;
  margin-top: 10px;
  margin-bottom: 30px;
}

input.btn.btn-success {
  font-family: $headers-font;
  color: white;
  margin: 0 16px;
  border-radius: 12px;
}
