.form-container {
  padding: 14px;
}

// pantry new item form
label {
  font-family: $headers-font;
  font-size: 12px;
  margin: 0 16px;
}

// new_item amounts
select#item_amount_item_id.form-control {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 16px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 30px;
}

input#item_amount_description.form-control {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 16px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 30px;
}

input.btn.btn-success {
  font-family: $headers-font;
  color: white;
  margin: 0 16px;
  border-radius: 12px;
}


// new_item amounts
input#recipe_recipe_name.form-control {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 16px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 30px;
}

textarea#recipe_instructions.form-control {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 16px;
  height: 250px;
  margin-top: 10px;
  margin-bottom: 30px;
}

input.btn.btn-primary {
  font-family: $headers-font;
  color: white;
  margin: 0 16px;
  border-radius: 12px;
}

input#recipe_photo.form-control-file {
  margin: 0 16px;
  padding: 10px 0;
}

input#file-upload-button {
  padding: 12px;
}


// recipe-amounts
input#recipe_amount_description.form-control {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 16px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 30px;
}

span.select2-selection.select2-selection--single {
  margin-top: 10px 16px 16px 30px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 16px;
}
