.home-background {
  background-color: $white-gray;
  background-image: linear-gradient(154deg, #e9f2cb 0%, #e5f7f9 74%);
}

header {
  margin: 3rem 0 3rem;
  text-align: center;
}

// header > h1 {
//   margin: 20px 0;
//   font-size: 0.875rem;
//   font-family: $body-font;
// }

// header > h1 strong {
//   font-weight: 400;
// }

.intro-tagline {
  h1 {
  font-size: 0.75rem;
  font-family: $body-font;
  color: $dark-gray;
  font-weight: 300;
  }
}


.logo-brand {
  background-color: $white-mint;
  margin: 2rem 0 !important;
  padding: 1.2rem 0;
  h1 {
    color: $bright-mint;
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: 400;
  }
  h2 {
    color: $dark-salmon;
    font-family: $body-font;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.5rem 6.5rem;
    line-height: 1.3rem;
  }
}

.invitation {
  margin: 1rem;
  h3 {
    font-size: 0.875rem;
    font-family: $body-font;
    color: $dark-gray;
    font-weight: 300;
  }
  #sign-up {
    color: $bright-mint;
    font-weight: 600;
  }
}

header > p {
  max-width: 520px;
  margin: auto;
}

@media (max-width: 443px) {
  header > h1 { font-size: 0.875rem; }
}

// h2 {
//   color: $bright-mint;
// }

// h1.intro {
//   color: $bright-mint;
// }

h3.intro {
  color: $dark-gray;
  font-family: "Libre Baskerville", "Helvetica", "sans-serif";
}

p.home-card {
  font-size: 18px;
}

/*
 * Cards Container Class
 */

.cards-container {
  list-style: none;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(2, 300px);
  justify-content: center;
  padding: 16px;
}

@media (max-width: 443px) {
  .cards-container {
    grid-template-columns: repeat(1, 300px);
  }
}

/*
 * Feature Card Class
 */

[class$='feature-card'] {
  /* Positioning and Sizing */
  position: relative;
  box-sizing: border-box;
  height: 250px;

  /* Alignment */
  margin: 0;
  padding: 32px;

  /* Box Details */
  border-radius: 10px;
  border-top: solid 5px black;
  box-shadow: 2px 5px 20px rgba(0,0,0,0.1);
}

/*
 * Inner Elements
 */

[class$='feature-card'] h2, [class$='feature-card'] p { margin: 0; }

[class$='feature-card'] img {
  position: absolute;
  bottom: 32px; right: 32px;
}

/*
 * Top Border Colors Rules
 */

[class$='feature-card'][class*='mint'] {
  border-color: hsl(188, 24%, 61%);
}

[class$='feature-card'][class*='salmon'] {
  border-color: hsl(22, 100%, 81%);
}

[class$='feature-card'][class*='leaf'] {
  border-color: hsl(74, 29%, 59%);
}

[class$='feature-card'][class*='dusk'] {
  border-color: hsl(187, 22%, 31%);
}

/*
 * Invite
 */

.invite {
  background-color: $white;
  padding: 20px 47px;
  box-shadow: 2px 5px 20px rgba(0,0,0,0.1);
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  height: 250px;
  border-top: solid 5px hsl(22, 100%, 81%);
  text-align: center;
  justify-content: center;
  width: 50%;
  vertical-align: middle;
  margin: 0 auto;
}

/*
 * Footer
 */

footer { margin-top: 80px }

.attribution { font-size: 11px; text-align: center; }
.attribution a { color:  hsl(187, 22%, 31%); }
