.menuicons {
  font-family: $headers-font;
  width: 100%;
  height: 68px;
  padding: 12px;
  border-top: 0.3px solid $mint;
  display: flex;
  justify-content: center;

  a {
    font-size: 20px;
    text-decoration: none;
  }
  p {
    font-size: 10px;
    line-height: 1.8;
  }

  h4 {
    margin: 0;
  }
}


.pantryicon {
  display: flex;
  text-decoration: none;
  flex-direction: column;
  padding: 0 15px;
  text-align: center;
  color: $light-gray;
  .active {
    color: $bright-mint !important;
  }
}

.recipeicon {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  text-align: center;
  color: $light-gray;
  .active {
    color: $bright-mint !important;
  }
}
