.navbar {
  height: 64px;
  padding: 0 16px;
  position: top;
}
.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand-name {
  margin-bottom: 0;
  color: $bright-mint;
  letter-spacing: 1px;
  font-weight: 400;
}

.navbar-light .navbar-toggler {
  border:none;
}
