.navbar {
  padding: 0 16px;
  position: top;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand-name {
  margin-bottom: 0;
  color: $bright-mint;
}

.navbar-light .navbar-toggler {
  border:none;
}
