.navbar {
  padding: 0 16px;
  position: top;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
}
.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand-name {
  display:flex;
  h2 {
  padding-top: 10px;
  margin-bottom: 0;
  }
}

.navbar-light .navbar-toggler {
  border:none;
}
