.search-results {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: "Spartan", "Helvetica", "sans-serif";
  margin: 20px 8px;
}

.search-button {
  position: absolute;
  top: 24px;
  right: 24px;
  font-size: 1rem;
}

.search-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 0px;
}

//search bar styling
.search-form {
  display: block;
  margin-left: 16px;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 90%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: none;
  border-bottom: 1px solid #ced4da;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.search-results #query.form-control {
  padding-bottom: 14px;
}

// card-pantry-search
.card-pantry-search {
  border-radius: 10px;
  width: 100%;
  display: grid;
}

#search-more {
  display: flex;
  justify-content: center;
}

// pantry-item-search
.card-pantry-search-name {
  background-color: $white-mint;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  margin-bottom: 16px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 20px;
  width: 100%;
  p {
    margin: 0px;
    font-family: $body-font;
  }

  a {
    color: $bright-mint;
    font-size: 15px;
    text-decoration: none;
    background-color: transparent;
  }
}
