.nav-tabs {
  justify-content: center;
  font-size: 16px;
  font-family: $headers-font;
  font-weight: 300;
  a {
    font-family: $headers-font;
  }
}

#barcode-tab {
  padding: 8px 52px;
}

#text-tab {
  padding: 8px 70px;
}



.nav-tabs .nav-link.active {
  margin-bottom: 16px;
  font-weight: bold;
  color: $bright-mint;
  border-bottom: 2px solid $bright-mint;
  border-top: none;
  border-right: none;
  border-left: none;
}

.nav-tabs .nav-link {
  color: $bright-mint;
  border-bottom: 0.5px solid $bright-mint;
}

.nav-tabs .nav-item.show .nav-link {
  color: $bright-mint;
  border-bottom: 0.5px solid $bright-mint;
}

.nav-tabs {
  border: none;
}

// .nav-link {
//   margin: 0 16px;
// }

#expiring-tab {
  color: $dark-gray;
  border-top: none;
  border-right: none;
  border-left: none;
}

#expiring-tab.active {
  color: $dark-salmon;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid $dark-salmon;
}
